:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: red;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15rem;
  font-family: 'Times New Roman', Times, serif;
}

.header h1 {
  color: yellow;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: center;
  flex-wrap: wrap;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  color: yellow;
  display: flex;
  font-size: 20px;
}
.mcdonalds-photo {
  width: 10rem;
  height: 10rem;
  position: relative;
  right: 0rem;
}

.mcdonalds-ladder-guy {
  position: relative;
  right: 16rem;
  top: 1rem;
}

.images {
  position: relative;
  left: 3rem;
  height: 20%;
}
